<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/jdbc 
							http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd">

	<!-- stored job-meta in memory -->
	<bean name="batchTransactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />
	<bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="batchTransactionManager" />
	</bean>

	<!-- stored job-meta in database -->
<!-- 	<bean id="jobRepository" class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 		<property name="databaseType" value="mysql" /> -->
<!-- 		<property name="transactionManager" ref="springTransactionManager" /> -->
<!-- 	</bean> -->
<!-- 	<jdbc:initialize-database data-source="dataSource"> -->
<!-- 		<jdbc:script location="classpath:\script\schema-drop-mysql.sql" /> -->
<!-- 		<jdbc:script location="classpath:\script\schema-mysql.sql" /> -->
<!--   	</jdbc:initialize-database> -->
  
	<bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

</beans>