<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans  
           	http://www.springframework.org/schema/beans/spring-beans.xsd">  
           	
	<!-- for GlassFish -->  	
<!--   	<bean name="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean">   -->
<!-- 	    <property name="jndiName" value="mail/qqSession"/>   -->
<!-- 	</bean>   -->

	<!-- for Tomcat -->
    <bean name="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">  
        <property name="host" value="${mail.smtp}"/>  
        <property name="port" value="${mail.port}"/>  
        <property name="username" value="${mail.username}"/>  
        <property name="password" value="${mail.password}"/>  
        <property name="javaMailProperties">  
            <props>  
            	<prop key="mail.debug">${mail.debug}</prop>  
                <prop key="mail.smtp.auth">true</prop>  
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>         
            </props>  
        </property>  
    </bean>  
</beans>  